/* left side */

.left{
    background-color: gainsboro;
    height: 100vh;
    border: none;
    padding: 10px;
    padding-top: 10px;
}

input{
    width: 100%;
    border: none;
    padding-bottom: 5px;
    border-radius: 5px;
}

.card-container{
    display: flex;
    padding-top: 10px;
   
}

.card{
    width: 8rem;
    height: 10rem;
    margin: 5px;
    
}

.card-img{
    height: 8rem;
}

.card-img img{
    position: relative;
    height: 8rem;
}

.card-body{

}

footer{
    position: absolute;
    bottom: 0px;
    width: 60%;
    display: flex;

}

.footer-btn{
    background-color: azure;
    border: none;
    border-radius: 5px;
}


/* cart */

.right{
    margin-top:20px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  .cart-card{
      height: 7rem;
      width: 6rem;
  }

  .cart-card img{
      height: 5rem;
  }

  .cart-qty{
     border: 1px solid chartreuse;
     border-radius: 25px;
     width: 23px;
     margin-left: 82px;
     background-color: chartreuse;
     text-align: center;
     color:#dddddd;

  }

  /* .total-price{
    
    margin-top: 11rem;

  } */

  .total-price span{
      margin-left: 10rem;
  }

  .price-btn{
      border: 1px solid rgb(56, 14, 134);
      background-color: rgb(56, 14, 134);
      border-radius: 5px;
      width:100%;
      height: 3rem;
      color:white
     
  }


  
 